# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time 

# Import API key
from config import api_key #congig is the name of the file and api_key is the name of the variable within the file

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [20]:
weather_data = pd.read_csv("../output_data/cities_data.csv")
weather_data #test to display the dataframe

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Yangi Marg`ilon,40.4272,71.7189,24.80,50,75,4.61,UZ,1611435054
1,La Plata,-34.9215,-57.9545,91.99,42,0,1.99,AR,1611435054
2,Nanortalik,60.1432,-45.2371,23.16,88,0,7.38,GL,1611435054
3,Swan River,52.1058,-101.2676,5.00,78,99,9.22,CA,1611435054
4,Ushuaia,-54.8000,-68.3000,64.40,36,75,19.57,AR,1611435054
...,...,...,...,...,...,...,...,...,...
567,Muriwai Beach,-36.8167,174.4500,68.00,88,92,1.99,NZ,1611435017
568,Igrim,63.1906,64.4162,-39.08,80,9,1.99,RU,1611435165
569,Okha,53.5739,142.9478,-10.37,85,100,3.74,RU,1611435165
570,Tutóia,-2.7619,-42.2744,84.20,74,75,13.80,BR,1611435166
571,Broome,42.2506,-75.8330,19.99,73,90,18.41,US,1611435166

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [21]:
# Configure gmaps
gmaps.configure(api_key=api_key)

# m = gmaps.Map() #tried to see if maps was working with a basic command, and it wasn't so i used these resources to enable the gmaps extension: https://github.com/pbugnion/gmaps/issues/246; https://github.com/pbugnion/gmaps/issues/79
# m  #WHY ISNT THIS WORKING; basic configuration 

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]  #recall to pull a specific column from the dataframe we bracket the column name around "" since it is a string

In [32]:
# Plot Heatmap
fig = gmaps.figure(center=(40, -20), zoom_level=2) #using gmaps.figure() https://jupyter-gmaps.readthedocs.io/en/latest/api.html
#if you want to download the displayed figure above it is important to tinker with center and zoom values so your image doesn't render cut off; i orignally set center to 0,0 but it cut off the image, so i played around with values until i was satisfied with the end result

max_intensity = np.max(humidity) #for max intensity in the heat map, try setting it to the highest humidity found in the data set.

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=max_intensity, point_radius=3) #https://jupyter-gmaps.readthedocs.io/en/v0.3.3/gmaps.html

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

# Save figure- this was my original thought process but this method is not available since it is a live widget; you can download the picture or take a screenshot
#fig.savefig("../Images/Heatmap w/o Markers.png")  #how to save this

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equal to 0 and max temp between 65 and 75
ideal_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 65) & (weather_data["Max Temp"] <= 75)].dropna()

ideal_city_df #display the newly created dataframe

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
165,Valparaíso,-33.0393,-71.6273,68.00,68,0,8.05,CL,1611435088
167,Ancud,-41.8697,-73.8203,71.01,63,0,9.22,CL,1611435088
181,Flinders,-34.5833,150.8552,73.99,93,0,1.01,AU,1611435091
223,Hambantota,6.1241,81.1185,73.40,100,0,6.91,LK,1611435099
230,Nūzvīd,16.7833,80.8500,66.40,93,0,1.95,IN,1611435100
337,Lom Sak,16.7798,101.2422,66.88,51,0,2.44,TH,1611435120
340,Mandiana,10.6333,-8.6833,73.33,18,0,3.69,GN,1611435121
440,Emerald,-23.5333,148.1667,69.01,88,0,5.75,AU,1611435140
466,Clarence Town,-32.5833,151.7833,75.00,68,0,4.61,AU,1611435145
468,Mumbai,19.0144,72.8479,73.40,78,0,6.96,IN,1611434953
478,Wang Saphung,17.3010,101.7685,68.00,65,0,0.89,TH,1611435147

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# Create a the hotel dataframe 
hotel_df = ideal_city_df.loc[:,["City","Country", "Lat", "Lng"]] #.loc[:,] all rows with the columns of city,country, lat, and lng

# Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""  #= "" is how to create a new a columnm name as a placeholder; set a empty string value 

# Display the dataframe
hotel_df

              City Country      Lat       Lng Hotel Name
165     Valparaíso      CL -33.0393  -71.6273
167          Ancud      CL -41.8697  -73.8203
181       Flinders      AU -34.5833  150.8552
223     Hambantota      LK   6.1241   81.1185
230         Nūzvīd      IN  16.7833   80.8500
337        Lom Sak      TH  16.7798  101.2422
340       Mandiana      GN  10.6333   -8.6833
440        Emerald      AU -23.5333  148.1667
466  Clarence Town      AU -32.5833  151.7833
468         Mumbai      IN  19.0144   72.8479
478   Wang Saphung      TH  17.3010  101.7685

In [12]:
# Make request from google's places api

# Set URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" #this pulled from: https://developers.google.com/places/web-service/search

parameters = {"type" : "hotel", # I am searching for hotels therefore i will set the keyword to hotel 
          "keyword" : "hotel",
          "radius" : 5000, # radius will be in meters, according to documentation 
          "key" : api_key} # once again, this is the variable name stored in config file

In [14]:
# Make multiple requests from Google's API using a for loop

for index, row in hotel_df.iterrows():  # use iterrows to iterate through pandas dataframe
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to parameters dictionary 
    parameters["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=parameters).json()  #requests.get.json() to get our reponses from API
    
    # extract results
    results = response["results"]
    
    # save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.") #[0] is the 0th index of the results dictionary and pull the name of that index
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field can use the except block to accomplish this 
    except (KeyError, IndexError):
        print("Cannot find... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error; researched this as to not exhaust server requests
    time.sleep(1) #https://www.pythoncentral.io/pythons-time-sleep-pause-wait-sleep-stop-your-code/

# Print end of search once search is complete
print("-------Search complete-------")

Retrieving Results for Index 165: Valparaíso.
Closest hotel in Valparaíso is Hotel Boutique 17.
------------
Retrieving Results for Index 167: Ancud.
Closest hotel in Ancud is Hotel Balai.
------------
Retrieving Results for Index 181: Flinders.
Closest hotel in Flinders is Shellharbour Resort & Conference Centre.
------------
Retrieving Results for Index 223: Hambantota.
Closest hotel in Hambantota is The Peacock Beach Hotel Hambantota.
------------
Retrieving Results for Index 230: Nūzvīd.
Closest hotel in Nūzvīd is City Grand.
------------
Retrieving Results for Index 337: Lom Sak.
Closest hotel in Lom Sak is WORACHAT BOUTIQUE HOTEL.
------------
Retrieving Results for Index 340: Mandiana.
Closest hotel in Mandiana is Centre d'accueil de Mandiana.
------------
Retrieving Results for Index 440: Emerald.
Closest hotel in Emerald is Stay On Sullivan.
------------
Retrieving Results for Index 466: Clarence Town.
Closest hotel in Clarence Town is Roscrea Estate.
------------
Retrieving Results for Index 468: Mumbai.
Closest hotel in Mumbai is Four Seasons Hotel Mumbai.
------------
Retrieving Results for Index 478: Wang Saphung.
Closest hotel in Wang Saphung is The Cozy Hotel.
------------
-------End of Search-------

In [15]:
hotel_df #display the new dataframe with the newly found hotel names

,City,Country,Lat,Lng,Hotel Name
165,Valparaíso,CL,-33.0393,-71.6273,Hotel Boutique 17
167,Ancud,CL,-41.8697,-73.8203,Hotel Balai
181,Flinders,AU,-34.5833,150.8552,Shellharbour Resort & Conference Centre
223,Hambantota,LK,6.1241,81.1185,The Peacock Beach Hotel Hambantota
230,Nūzvīd,IN,16.7833,80.8500,City Grand
337,Lom Sak,TH,16.7798,101.2422,WORACHAT BOUTIQUE HOTEL
340,Mandiana,GN,10.6333,-8.6833,Centre d'accueil de Mandiana
440,Emerald,AU,-23.5333,148.1667,Stay On Sullivan
466,Clarence Town,AU,-32.5833,151.7833,Roscrea Estate
468,Mumbai,IN,19.0144,72.8479,Four Seasons Hotel Mumbai
478,Wang Saphung,TH,17.3010,101.7685,The Cozy Hotel

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer on top of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)  #add_layer method

# Display Map using fig hanging object 
fig

Figure(layout=FigureLayout(height='420px'))